.App {
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : 0;
  overflow : hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MainPanel
{
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : 0;
  display: flex;
  flex-direction : column;
  justify-content: space-between;
  transition : left 0.3s ease-in-out;
}

.MainPanel.LeftPanelOpen
{
  left : 33%;
}

.Header
{
  display: flex;
  justify-content: space-between;
}

.Body
{
  flex-grow: 1;
  position: relative;
}

.Footer
{
  display: flex;
  justify-content: space-around;
}

.LeftPanel,
.RightPanel
{
  z-index: 1;
  position : fixed;
  top : 0;
  bottom : 0;
  overflow: scroll;
  box-shadow: 0 0 8px #888888;
  width : 33%;
  transition : left    0.3s ease-in-out,
               right   0.3s ease-in-out;
}

.RightPanel.Closed
{
  left : 100%;
}

.LeftPanel.Closed
{
  right : 100%;
}

.RightPanel.Open
{
  right : 67%;
}

.LeftPanel.Open
{
  right : 67%;
}