.Element
{
  position : absolute;
  display : flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
}

.Root .Element
{
  top : 4%;
  left : 4%;
  bottom : 4%;
  right : 4%;
}

.Element.Root
{
  top : 4px;
  left : 4px;
  bottom : 4px;
  right : 4px;
}

.Element:not(.Dragging)
{
  transition: transform 0.3s ease-in-out,
              z-index   0.7s linear,
              left      0.3s ease-in-out,
              right     0.3s ease-in-out,
              top       0.3s ease-in-out,
              bottom    0.3s ease-in-out;
}

.ElementChild
{
  position : relative;
  width : 0.1px;
  transition : flex-grow 0.3s ease-in-out,
               height    0.3s ease-in-out;
}

.ElementChildRowDivider
{
  width : 100%;
  height : 0;
}

.NoChildren
{
  border-radius : 2px;
  box-shadow: 0 0 8px #888888;
  background: #EEEEEE;
}

.Root .Element:hover .NoChildren,
.Root .Element.NoChildren:hover
{
  box-shadow: 0 0 8px #444444;
}

.FocusedChild > .Element
{
  left : 0;
  top : 0;
  bottom : 0;
  right : 0;
}

.Element.Dragging
{
  opacity: 0.75;
}